/* Set default font to all elements */
* {
  font-family: "Open Sans";
}

:root {

  /* KaiOS Colors */
  --color-gs100: #000000;
  --color-gs90: #242424;
  --color-gs70: #646464;
  --color-gs55: #8a8a8a;
  --color-gs40: #acacac;
  --color-gs25: #cbcbcb;
  --color-gs15: #e1e1e1;
  --color-gs00: #ffffff;

  --color-purple: #8500DB;
  --color-blue: #3D5DFF;
  --color-orange: #FF4C00;
  --color-green: #00AF31;

  --color-gradient-purple: linear-gradient(to right, #3722FF, #AB00C7);
  --color-gradient-blue: linear-gradient(to right, #00A8FF, #6738EE);
  --color-gradient-orange: linear-gradient(to right, #FFC410, #FF3701);
  --color-gradient-green: linear-gradient(to right, #B3E601, #019A54);

}

.theme {
  --highlight-color: var(--color-purple);
}